<body onload="loadgame()">
	<div class="row" style="margin-top: 2em" data-equalizer>
		<div class="game">
			<div class="large-12 small-centered columns">
				<div class="panel">
					<div><span>Room: </span><h4 id="room-name"><%= session[:room] %></h4></div>
					<div><span>Who's turn is it now: <span><span id="turn"></span></div>
					<div><span>Current Score:</span><span id="score">0</span></div>
				</div>
			</div>

			<div class="large-6 columns" data-equalizer-watch>
				<div class="game-container">
					<div class="game-message">
						<p></p>
						<div class="lower">
							<a class="keep-playing-button">Keep going</a>
							<a class="retry-button">Try again</a>
							<a class="save-button">Save your score</a>

						</div>

					</div>
					<div class="grid-container">
						<div class="grid-row">
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
						</div>
						<div class="grid-row">
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
						</div>
						<div class="grid-row">
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
						</div>
						<div class="grid-row">
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
						</div>
					</div>

					<div class="tile-container" id="tile-container">

					</div>
				</div>

			</div>
			<div class="large-6 columns" style="margin-top: 16px" data-equalizer-watch>
				<div class="scores-container"></div>
				<form>
					<textarea type="text" readonly="readonly" rows="25" id="chat-area"></textarea>
					<div class="row collapse">
						<div class="small-10 columns">
						<input type="text" placeholder="Type your message here.." id="chat-input">
						</div>
						<div class="small-2 columns">
							<a href="#" class="button postfix">Send</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>