		<div class="row">
			<div class="col-lg-6 col-sm-6">

				<div class="panel panel-default">
					<div class="panel-heading">Create a new room here</div>
					<div class="panel-body">
							<div class="form-group">
								<label for="room">Room name:</label>
								<input type="room" class="form-control" id="room">
							</div>
							<div class="form-group">
								<label for="hostname">Your name:</label>
								<input type="hostname" class="form-control" id="hostname">
							</div>
							<div class="form-group">
								<label for="gurstname">Guest name:</label>
								<input type="guestname" class="form-control" id="guestname">
							</div>
							<button type="submit" onclick="create()" class="btn btn-default">Create</button>

					</div>
				</div>
				
			</div>

			<div class="col-lg-6 col-sm-6">
					<div class="panel panel-default">
					<div class="panel-heading">Join a room here</div>
					<div class="panel-body">
							<div class="form-group">
								<label for="room">Room name:</label>
								<input type="room" class="form-control" id="room1">
							</div>
							<div class="form-group">
								<label for="name">Your name:</label>
								<input type="name" class="form-control" id="name1">
							</div>
							<button type="submit" onclick="join()" class="btn btn-default">Join</button>
						
					</div>
				</div>			</div>
		</div>